.btn_file {
    position: relative;
    overflow: hidden;
}

.btn_file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.gques {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: lightcyan;
  border-radius: 10px;
  border: 2px solid lightblue;
}

.gques p, h4 {
  font-weight: 600;
  margin-bottom: 0;
}

.container {
  padding-top: 20px;
}